<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», посвященная памяти профессора Э.М. Пальчика</title>
    <link rel="stylesheet" href="../style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header class="header">
    <div class="header_wrapper">
        <div class="logo"><a href="../index.html"><img src="../public/logo2.png" alt="Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», посвященная памяти профессора Э.М. Пальчика"></a></div>
        <div class="name_conf">
            <h1>Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», <br>посвященная памяти доктора физико-математических наук, профессора Э.М. Пальчика</h1>
        </div>
    </div>
</header>
<nav class="main_menu">
    <div class="menu_wrapper">
        <ul class="menu">
            <li><a href="slovoobpalchike.html">Слово о Э.П. Пальчике</a></li>
            <li><a href="../index.html">О конференции</a></li>
            <li><a href="progcomit.html">Программный комитет</a></li>
            <li><a href="orgcomit.html">Организационный комитет</a></li>
            <li><a href="orgvznos.html">Оргвзнос для участников</a></li>
            <li><a href="vajdate.html">Важные даты</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>
    </div>
</nav>
<article class="content">
    <div class="content_wrapper">
        <h2>Контакты</h2>
        <h3>Адрес организационного комитета</h3>
        <div class="contact_inf">
            <p class="contacks_description">Полоцкий государственный университет<br>
                Кафедра высшей математики<br>
                ул. Блохина, 29<br>
                211448, г. Новополоцк,<br>
                Витебская область,<br>
                Республика Беларусь</p>
            <p class="contacks_description">Телефон: <a href="tel:+375(0214)-59-95-75">+375(0214)-59-95-75</a><br>
                E-mail: <a href="mailto:gkm_novopolotsk@tut.by">gkm_novopolotsk@tut.by</a></p>
            <p class="contacks_description">Секретарь организационного комитета:<br>
                Башун Светлана Юрьевна<br>
                Телефон: <a href="tel:+375-29-593-78-96">+375-29-593-78-96</a></p>
            </p>
        </div>
    </div>
</article>
<footer class="footer">
    <div class="footer_wrapper">
        <div class="footer_contacts_address">
            <a href="https://www.psu.by/" target="_blank">Полоцкий государственный университет</a><br>
            Кафедра высшей математики<br>
            ул. Блохина, 29<br>
            211448, г. Новополоцк,<br>
            Витебская область,<br>
            Республика Беларусь<br>
        </div>
        <div class="footer_contacts_phone">
            Телефон: <a href="tel:+375(0214)-59-95-75">+375(0214)-59-95-75</a><br>
            E-mail: <a href="mailto:gkm_novopolotsk@tut.by">gkm_novopolotsk@tut.by</a>
        </div>
    </div>
</footer>
<script src="../js/script.js"></script>
</body>
</html>