<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», посвященная памяти профессора Э.М. Пальчика</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
<header class="header">
    <div class="header_wrapper">
        <div class="logo"><a href="../index.html"><img src="../public/logo2.png" alt="Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», посвященная памяти профессора Э.М. Пальчика"></a></div>
        <div class="name_conf">
            <h1>Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», <br>посвященная памяти доктора физико-математических наук, профессора Э.М. Пальчика</h1>
        </div>
    </div>
</header>
<nav class="main_menu">
    <div class="menu_wrapper">
        <ul class="menu">
            <li><a href="../index.html">О конференции</a></li>
            <li><a href="progcomit.html">Программный комитет</a></li>
            <li><a href="orgcomit.html">Организационный комитет</a></li>
            <li><a href="orgvznos.html">Оргвзнос для участников</a></li>
            <li><a href="vajdate.html">Важные даты</a></li>
            <li><a href="contacts.html">Контакты</a></li>
            <li><a href="slovoobpalchike.html">Слово о Э.П. Пальчике</a></li>
        </ul>
    </div>
</nav>
<article class="content">
    <div class="content_wrapper">
        <h2>Информационное сообщение</h2>
        <h3>Представление материалов</h3>
        <p class="documenrion_description">Для участия в конференции необходимо до 15 апреля 2020 г. заполнить заявку участника и отправить тезисы докладов.</p>
        <p class="documenrion_description">Тезисы представляются по электронной почте в LaTex и PDF форматах на адрес gkm_novopolotsk@tut.by . Имена всех высылаемых файлов (*.tex, *.pdf) должны состоять из написанной латиницей фамилии основного докладчика и его инициалов (например, IvanovIP.tex, IvanovIP.pdf для тезиса И.П. Иванова).</p>
        <p class="documenrion_description">Оргкомитет планирует издание сборников до начала конференции. Дополнительная информация будет дана во втором информационном сообщении.</p>
        <p class="documenrion_description">Проезд, питание и проживание участников конференции за счет командирующих организаций.</p>
        <p class="documenrion_description">По вопросам, связанным с конференцией, можно обратиться по тел. +375(29)-719-93-66 (Козлов Александр Александрович), <br>+375(29)-593-78-96 (Башун Светлана Юрьевна) или по e-mail: gkm_novopolotsk@tut.by</p>
        <h3>1-е информационное сообщение</h3>
        <ul class="first_inf_letter_spisok">
            <li>Русская версия: <img src="../public/doc_small.gif"><a href="../public/first-information-report-2020-ru.doc" class="first_inf_letter_link"> Erugin-Readings-1st-Announcement-ru.doc</a></li>
            <li>Английская версия: <img src="../public/doc_small.gif"><a href="../public/first-information-report-2020-en.doc" class="first_inf_letter_link"> Erugin-Readings-1st-Announcement-en.doc</a></li>
        </ul>
        <h3>2-е информационное сообщение</h3>
        <ul class="second_inf_letter_spisok">
        <li>Русская версия: <img src="../public/doc_small.gif"><a href="" class="second_inf_letter_link"> Erugin-Readings-2nd-Announcement-ru.doc</a></li>
        <li>Английская версия: <img src="../public/doc_small.gif"><a href="" class="second_inf_letter_link"> Erugin-Readings-2nd-Announcement-en.doc</a></li>
        </ul>
    </div>
</article>
<footer class="footer">
    <div class="footer_wrapper">
        <div class="footer_contacts_address">
            Кафедра высшей математики<br>
            ул. Блохина, 29<br>
            г. Новополоцк, Витебская область,<br>
            211446, Республика Беларусь<br>
        </div>
        <div class="footer_contacts_phone">
            Телефон: +375(0214)-59-95-75<br>
            E-mail: gkm_novopolotsk@tut.by</p>
        </div>
    </div>
</footer>
</body>
</html>