<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», посвященная памяти профессора Э.М. Пальчика</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
<header class="header">
    <div class="header_wrapper">
        <div class="logo"><a href="../index.html"><img src="../public/logo2.png" alt="Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», посвященная памяти профессора Э.М. Пальчика"></a></div>
        <div class="name_conf">
            <h1>Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», <br>посвященная памяти доктора физико-математических наук, профессора Э.М. Пальчика</h1>
        </div>
    </div>
</header>
<nav class="main_menu">
    <div class="menu_wrapper">
        <ul class="menu">
            <li><a href="slovoobpalchike.html">Слово о Э.П. Пальчике</a></li>
            <li><a href="../index.html">О конференции</a></li>
            <li><a href="progcomit.html">Программный комитет</a></li>
            <li><a href="orgcomit.html">Организационный комитет</a></li>
            <li><a href="orgvznos.html">Оргвзнос для участников</a></li>
            <li><a href="vajdate.html">Важные даты</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>
    </div>
</nav>
<article class="content">
    <div class="content_wrapper">
        <h2>Организационный комитет</h2>
        <h3>Председатель конференции</h3>
        <p class="pred_comm"><span class="name_ychast_shrift">Лазовский Д.Н.</span> – ректор Полоцкого государственного университета, доктор технических наук, профессор, Новополоцк.</p>

        <h3>Организационный комитет конференции</h3>
        <ol class="org_comm">
           <li><span class="name_ychast_shrift">Голубев Ю.П.</span> – проректор по научной работе, кандидат технических наук, доцент, Полоцкий государственный университет (председатель);</li>
           <li><span class="name_ychast_shrift">Козлов А.А.</span> – заведующий кафедрой высшей математики, кандидат физико-математических наук, доцент, Полоцкий государственный университет (заместитель председателя).</li>
           <li><span class="name_ychast_shrift">Башун С.Ю.</span> – старший преподаватель кафедры высшей математики (секретарь оргкомитета).</li>
        </ol>

        <h3>Члены организационного комитета:</h3>
        <ol class="uch_org_comm">
          <li><span class="name_ychast_shrift">Грозберг Ю.Г.</span> – декан радиотехнического факультета, кандидат технических наук, доцент;</li>
          <li><span class="name_ychast_shrift">Гончарова Т.В.</span> – начальник отдела сопровождения научных исследований;</li>
          <li><span class="name_ychast_shrift">Вакульчик В.С.</span> – доцент кафедры высшей математики, кандидат педагогических наук, доцент;</li>
          <li><span class="name_ychast_shrift">Скоромник О.В.</span> – доцент кафедры высшей математики, кандидат физико-математических наук, доцент;</li>
          <li><span class="name_ychast_shrift">Яско Ф.Ф.</span> – доцент кафедры высшей математики, кандидат физико-математических наук, доцент;</li>
          <li><span class="name_ychast_shrift">Мателенок А.П.</span> – старший преподаватель кафедры высшей математики;</li>
          <li><span class="name_ychast_shrift">Завистовская Т.И.</span> – ассистент кафедры высшей математики;</li>
          <li><span class="name_ychast_shrift">Александрович Т.А.</span> – ассистент кафедры высшей математики;</li>
          <li><span class="name_ychast_shrift">Кечко И.Л.</span> – начальник отдела социально-информационных технологий и услуг;</li>
          <li><span class="name_ychast_shrift">Пугачева С.Н.</span> – специалист по сопровождению учебного процесса кафедры высшей математики;</li>
          <li><span class="name_ychast_shrift">Зенченкова И.Ю.</span> – ассистент кафедры архитектуры.</li>
        </ol>
    </div>
</article>
<footer class="footer">
    <div class="footer_wrapper">
        <div class="footer_contacts_address">
            Кафедра высшей математики<br>
            ул. Блохина, 29<br>
            211448, г. Новополоцк,<br>
            Витебская область,<br>
            Республика Беларусь<br>
        </div>
        <div class="footer_contacts_phone">
            Телефон: <a href="tel:+375(0214)-59-95-75">+375(0214)-59-95-75</a><br>
            E-mail: <a href="mailto:gkm_novopolotsk@tut.by">gkm_novopolotsk@tut.by</a>
        </div>
    </div>
</footer>
</body>
</html>