<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», посвященная памяти профессора Э.М. Пальчика</title>
    <link rel="stylesheet" href="../style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header class="header">
    <div class="header_wrapper">
        <div class="logo"><a href="../index.html"><img src="../public/logo2.png" alt="Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», посвященная памяти профессора Э.М. Пальчика"></a></div>
        <div class="name_conf">
            <h1>Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», <br>посвященная памяти доктора физико-математических наук, профессора Э.М. Пальчика</h1>
        </div>
    </div>
</header>
<nav class="main_menu">
    <div class="menu_wrapper">
        <ul id="menu" class="menu">
            <li><a href="slovoobpalchike.html">Слово о Э.П. Пальчике</a></li>
            <li><a href="../index.html">О конференции</a></li>
            <li><a href="progcomit.html">Программный комитет</a></li>
            <li><a href="orgcomit.html">Организационный комитет</a></li>
            <li><a href="orgvznos.html">Оргвзнос для участников</a></li>
            <li><a href="vajdate.html">Важные даты</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>
        <span id="trigger" class="trigger">
                <i></i>
                <i></i>
                <i></i>
        </span>
    </div>
</nav>
<article class="content">
    <div class="content_wrapper">
        <h2>Оргвзнос для участников конференции</h2>
        <ul class="org_vznos">
            <li>Для участников из Беларуси 30 бел. руб.;</li>
            <li>Для аспирантов, магистрантов и студентов из Беларуси 20 бел. руб.;</li>
            <li>Для участников из стран СНГ в белорусских рублях по курсу Национального банка Республики Беларусь  в эквиваленте 20 USD (долл. США);</li>
            <li>Для участников из стран дальнего зарубежья в белорусских рублях по курсу Национального банка Республики Беларусь в эквиваленте 30 USD.</li>
        </ul>
        <p>Банковские реквизиты и подробная информация о порядке оплаты оргвзноса будут сообщены дополнительно. <br>Оргвзнос включает оплату организационных затрат, издание тезисов, услуг связи, аренды техники. Оргкомитет планирует издание сборника материалов конференции до ее начала. Материалы, прошедшие рецензирование и включенные в программу конференции, будут опубликованы только при условии уплаты оргвзноса.</p>
    </div>
</article>
<footer class="footer">
    <div class="footer_wrapper">
        <div class="footer_contacts_address">
            <a href="https://www.psu.by/" target="_blank">Полоцкий государственный университет</a><br>
            Кафедра высшей математики<br>
            ул. Блохина, 29<br>
            211448, г. Новополоцк,<br>
            Витебская область,<br>
            Республика Беларусь<br>
        </div>
        <div class="footer_contacts_phone">
            Телефон: <a href="tel:+375(0214)-59-95-75">+375(0214)-59-95-75</a><br>
            E-mail: <a href="mailto:gkm_novopolotsk@tut.by">gkm_novopolotsk@tut.by</a>
        </div>
    </div>
</footer>
<script src="../js/script.js"></script>
</body>
</html>