<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», посвященная памяти профессора Э.М. Пальчика</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
<header class="header">
    <div class="header_wrapper">
        <div class="logo"><a href="../index.html"><img src="../public/logo2.png" alt="Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», посвященная памяти профессора Э.М. Пальчика"></a></div>
        <div class="name_conf">
            <h1>Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», <br>посвященная памяти доктора физико-математических наук, профессора Э.М. Пальчика</h1>
        </div>
    </div>
</header>
<nav class="main_menu">
    <div class="menu_wrapper">
        <ul class="menu">
            <li><a href="../index.html">О конференции</a></li>
            <li><a href="progcomit.html">Программный комитет</a></li>
            <li><a href="orgcomit.html">Организационный комитет</a></li>
            <li><a href="orgvznos.html">Оргвзнос для участников</a></li>
            <li><a href="vajdate.html">Важные даты</a></li>
            <li><a href="contacts.html">Контакты</a></li>
            <li><a href="slovoobpalchike.html">Слово о Э.П. Пальчике</a></li>
        </ul>
    </div>
</nav>
<article class="content">
    <div class="content_wrapper">
        <h2>Программный комитет конференции</h2>
        <h3>Председатель программного комитета</h3>
        <ol class="uch_prog_comm">
            <li>Янчевский В.И. – заведующий Отделом алгебры, доктор физико-математических  наук, академик НАН Беларуси, Институт математики НАН Беларуси, Минск, Беларусь.</li>
        </ol>

        <h3>Заместители председателя программного комитета</h3>
        <ol class="uch_prog_comm">
            <li>Супруненко И.Д. – главный научный сотрудник Отдела алгебры, доктор физико-математических наук, профессор, Институт математики НАН Беларуси, Минск, Беларусь (заместитель председателя);</li>
            <li>Скиба А.Н. – профессор кафедры алгебры и геометрии, доктор физико-математических наук, профессор, ГГУ им. Ф. Скорины, Гомель, Беларусь (заместитель председателя);</li>
            <li>Воробьев Н.Т. – заведующий кафедрой алгебры и методики преподавания математики, доктор физико-математических наук, профессор, ВГУ им. П.М. Машерова, Витебск, Беларусь (заместитель председателя).</li>
        </ol>

        <h3>Члены программного комитета</h3>
        <ol class="uch_prog_comm">
            <li>Беняш-Кривец В.В. – заведующий кафедрой высшей алгебры и защиты информации, доктор физико-математических наук, профессор, БГУ, Минск, Беларусь;</li>
            <li>Васильев А.Ф. – профессор кафедры алгебры и геометрии, доктор физико-математических наук, ГГУ им. Ф. Скорины, Гомель, Беларусь;</li>
            <li>Вдовин Е.П. – заместитель директора Института математики им. С.Л. Соболева СО РАН, доктор физико-математических наук, Институт математики им. С.Л. Соболева СО РАН, Новосибирск, Россия;</li>
            <li>Ведерников В.А. – профессор кафедры высшей математики и методики преподавания математики доктор физико-математических наук, профессор, МГПУ, Москва, Россия;</li>
            <li>Воробьев Н.Н. – профессор кафедры алгебры и методики преподавания математики, доктор физико-математических наук, ВГУ им. П.М. Машерова, Витебск, Беларусь;</li>
            <li>Гальмак А.М. – заведующий кафедрой высшей математики, доктор физико-математических наук, Могилевский государственный университет продовольствия, Могилев, Беларусь;</li>
            <li>Дрозд Ю.А. – заведующий Отделом алгебры и топологии, доктор физико-математических наук, член-корреспондент НАН Украины, Институт математики НАН Украины, Киев, Украина;</li>
            <li>Залесский А.Е. – доктор физико-математических наук, член-корреспондент НАН Беларуси, Институт математики НАН Беларуси, Минск, Беларусь;</li>
            <li>Казарин Л.С. – заведующий кафедрой алгебры и математической логики, доктор физико-математических наук, профессор, ЯрГУ им. П.Г. Демидова, Ярославль, Россия;</li>
            <li>Каморников С.Ф. – профессор кафедры финансов и кредита, доктор физико-математических наук, профессор, ГГУ им. Ф. Скорины, Гомель, Беларусь;</li>
            <li>Кондратьев А.С. – ведущий научный сотрудник Отдела алгебры и топологии, доктор физико-математических наук, профессор, Институт математики и механики им. Н.Н. Красовского УрО РАН, Екатеринбург, Россия;</li>
            <li>Кулаженко Ю.И. – ректор БелГУТ, доктор физико-математических наук, Гомель, Беларусь;</li>
            <li>Курдаченко Л.А. – заведующий кафедрой геометрии и алгебры, доктор физико-математических наук, профессор, ДНУ им. О. Гончара, Днепр, Украина;</li>
            <li>Мазуров В.Д. – главный научный сотрудник Лаборатории теории групп, доктор физико-математических наук, член-корреспондент РАН, Институт математики им. С.Л. Соболева СО РАН, Новосибирск, Россия;</li>
            <li>Махнев А.А. – заведующий Отделом алгебры и топологии, доктор физико-математических наук, член-корреспондент РАН, Институт математики и механики им. Н.Н. Красовского УрО РАН, Екатеринбург, Россия;</li>
            <li>Монахов В.С. – профессор кафедры алгебры и геометрии, доктор физико-математических наук, профессор, ГГУ им. Ф. Скорины, Гомель, Беларусь;</li>
            <li>Ревин Д.О. – ведущий научный сотрудник Лаборатории теории групп, доктор физико-математических наук, Институт математики им. С.Л. Соболева СО РАН, Новосибирск, Россия;</li>
            <li>Сафонов В.Г. – проректор по научной работе БГУ, доктор физико-математических наук, профессор, БГУ, Минск, Беларусь;</li>
            <li>Селькин В.М. – заведующий кафедрой алгебры и геометрии, доктор физико-математических наук, ГГУ им. Ф. Скорины, Гомель, Беларусь;</li>
            <li>Селькин М.В. – профессор кафедры фундаментальной и прикладной математики, доктор физико-математических наук, профессор, ГГУ им. Ф. Скорины, Гомель, Беларусь;</li>
            <li>Тютянов В. Н. – профессор кафедры иностранных языков и межкультурных коммуникаций, доктор физико-математических наук, профессор, МИТСО, Гомель, Беларусь;</li>
            <li>Щербаков В.A. – глаавный научный сотрудник Института математики и информатики АН Молдовы, доктор физико-математических наук, Кишинев, Молдова;</li>
            <li>Ядченко А.А. – заведующий лабораторией теории и приложений конечных групп, доктор физико-математических наук, Гомельское отделение Института математики НАН Беларуси, Гомель, Беларусь;</li>
            <li>Wenbin Guo – professor of School of Mathematical Sciences, doctor of physico-mathematical sciences, professor, University of Science and Technology of China, Hefei, China.</li>
        </ol>
    </div>
</article>
<footer class="footer">
    <div class="footer_wrapper">
        <div class="footer_contacts_address">
            Кафедра высшей математики<br>
            ул. Блохина, 29<br>
            г. Новополоцк, Витебская область,<br>
            211446, Республика Беларусь<br>
        </div>
        <div class="footer_contacts_phone">
            Телефон: +375(0214)-59-95-75<br>
            E-mail: gkm_novopolotsk@tut.by</p>
        </div>
    </div>
</footer>
</body>
</html>