<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», посвященная памяти профессора Э.М. Пальчика</title>
    <link rel="stylesheet" href="../style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header class="header">
    <div class="header_wrapper">
        <div class="logo"><a href="../index.html"><img src="../public/logo2.png" alt="Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», посвященная памяти профессора Э.М. Пальчика"></a></div>
        <div class="name_conf">
            <h1>Международная конференция «ГРУППЫ, КОЛЬЦА, МОДУЛИ», <br>посвященная памяти доктора физико-математических наук, профессора Э.М. Пальчика</h1>
        </div>
    </div>
</header>
<nav class="main_menu">
    <div class="menu_wrapper">
        <ul class="menu">
            <li><a href="slovoobpalchike.html">Слово о Э.П. Пальчике</a></li>
            <li><a href="../index.html">О конференции</a></li>
            <li><a href="progcomit.html">Программный комитет</a></li>
            <li><a href="orgcomit.html">Организационный комитет</a></li>
            <li><a href="orgvznos.html">Оргвзнос для участников</a></li>
            <li><a href="vajdate.html">Важные даты</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>
    </div>
</nav>
<article class="content">
    <div class="content_wrapper">
        <h2>Правила</h2>
        <h3>Требования к оформлению материалов</h3>
        <p class="rules_description">Объем тезисов доклада – одна страница машинописного текста. Тезисы доклада должны быть подготовлены в LaTeX с использованием шаблона, приведенного ниже. По техническим вопросам, касающимся оформления тезисов, можно обратиться по тел.
            <a href="tel:8-(029)-719-93-66">8-(029)-719-93-66</a> (Козлов Александр Александрович), или по e-mail: <a
                    href="mailto:kozlovaa@tut.by">kozlovaa@tut.by</a></p>
        <p class="shablon"><img src="../public/zip_small.gif" alt="архив"><a href="../public/GKM-2020.zip" class="shablon_link"> Архив с шаблоном</a></p>
        <p class="rules_instr">Оргкомитет просит для оформления тезисов пользоваться шаблоном, а также следующими инструкциями:</p>
        <ol class="instrukcii">
            <li>Иcпользовать только стандартные средства LaTeX'a (пакеты {amsfonts}, {amssymb}, {eucal}, {mathenv}, {amsmath}, {graphicx}, {dvips}; запрещается использовать свои стилевые файлы).</li>
            <li>Запрещается вводить собственные новые команды (\newcommand, \renewcommand) и окружения (\newtheorem, \newenvironment).</li>
            <li>Не использовать автоматическую нумерацию уравнений, теорем, утверждений, списка литературы и пр.</li>
            <li>Не делать окончательную верстку текста (не убирать небольшие переполнения строк, не использовать \linebreak, дополнительные вертикальные и горизонтальные пробелы, не изменять величину шрифта).</li>
            <li>Рисунки и схемы, используемые в тексте, должны быть оформлены в виде .ps или .eps-файлов и вставлены в текст с помощью команды \includegraphics.</li>
        </ol>
    </div>
</article>
<footer class="footer">
    <div class="footer_wrapper">
        <div class="footer_contacts_address">
            Кафедра высшей математики<br>
            ул. Блохина, 29<br>
            211448, г. Новополоцк,<br>
            Витебская область,<br>
            Республика Беларусь<br>
        </div>
        <div class="footer_contacts_phone">
            Телефон: <a href="tel:+375(0214)-59-95-75">+375(0214)-59-95-75</a><br>
            E-mail: <a href="mailto:gkm_novopolotsk@tut.by">gkm_novopolotsk@tut.by</a>
        </div>
    </div>
</footer>
<script src="../js/script.js"></script>
</body>
</html>